@{
    ViewData["Title"] = "Concurrency Error";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="text-center">
    <h1 class="display-4">Row you are trying to update has been changed in the meantime. Please try again.</h1>

    <img src="http://aleksa.lukac.rs/error.png" />

</div>
