@model Pharmacy.Models.DTO.AppointmentExamDTO

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@using Microsoft.AspNetCore.Identity
@using Pharmacy.Models.Entities.Users
@using Pharmacy.Models.DTO
@inject SignInManager<Pharmacy.Models.Entities.Users.AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Examination";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Start Appointment</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EndAppointment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppointmentId" />
            <input type="hidden" asp-for="PharmacyId" />
            <div class="form-group">
                <label asp-for="AppointmentId" class="control-label"></label>
                <input asp-for="AppointmentId" class="form-control" readonly />
                <span asp-validation-for="AppointmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" readonly />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Report" class="control-label"></label>
                <input asp-for="Report" class="form-control" />
                <span asp-validation-for="Report" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDateTime" class="control-label"></label>
                <input asp-for="StartDateTime" class="form-control" readonly />
                <span asp-validation-for="StartDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" readonly />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>

            Prescribe drug:
            <div class="form-group mx-sm-3 mb-2">
                <select name="prescribedDrug" id="prescribedDrug" class="form-control">

                    <option value=0 class="option">No drug</option>
                    @foreach (Pharmacy.Models.Entities.Drug item in (List<Pharmacy.Models.Entities.Drug>)@ViewData["DrugList"])
                    {
                        <option value=@item.Id class="option">@item.Name</option>
                    }
                </select>
                <div class="form-group">
                    <label asp-for="PrescriptionLength" class="control-label"></label>
                    <input asp-for="PrescriptionLength" class="form-control" />
                    <span asp-validation-for="PrescriptionLength" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="End appointment" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
