@model ISA.Models.Entities.DrugType

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Home/View.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DrugType</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
