@{
    ViewData["Title"] = "Appoitment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>You have successfully booked an appoitment</h2>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
