@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome to Pharmacy website</h1>
    
    <img src="https://freepikpsd.com/wp-content/uploads/2019/10/pharmacy-png-5.png" />
    
</div>
