@{
    ViewData["Title"] = "Search order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Orders" asp-action="CheckoutOrder" class="form-inline">
            <div class="form-group mb-2">
                <label for="searchString" class="sr-only">Order id:</label>
                <input type="text" id="searchString" name="idString" class="form-control" onkeypress='validate(event)' />
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        @ViewData["orderNotFound"]
    </div>
</div>

<script>
    function sendOrderId() {
        var value = document.getElementById("value").value;
        if (value != "") {
            $.get("/Orders/CheckoutOrder/" + value.toString()).done(function () {
                window.location.replace("/");
            })
        }
    }

    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
