@model Pharmacy.Models.Entities.DrugAndQuantities

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>DrugAndQuantities</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select name="pharmacy" id="pharmacy" class="form-control">
                    @foreach (Pharmacy.Models.Entities.Pharmacy item in (List<Pharmacy.Models.Entities.Pharmacy>)@ViewData["PharmacyList"])
                    {
                        <option value=@item.Id class="option">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="Quantity" class="control-label"></label>
                <input name="Quantity" class="form-control" />
            </div>
            <div class="form-group">
                <select name="drugId" id="drug" class="form-control">
                    @foreach (Pharmacy.Models.Entities.Drug item in (List<Pharmacy.Models.Entities.Drug>)@ViewData["DrugList"])
                    {
                        <option value=@item.Id class="option">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
